// Fonts

$fontFamily: #{$fontName}, Arial, Helvetica, sans-serif;

// $fontPath: '../fonts/#{$fontName}/';
// $test: '../fonts/Poppins/Poppins-Thin/Poppins-Thin';
// Poppins, Poppins-Thin, Poppins Thin
// Poppins, Poppins-Thin-Italic, Poppins Thin Italic

$fz: 14px;
$fsItalic: italic;
$lh: 1.25;
$lhP: 2;
$fwExtraBold: 800;
$fwBold: 700;
$fwSemiBold: 600;
$fwMedium: 500;
$fwRegular: 400;
$fwLight: 300;
$iconFamily: 'Icomoon';
